<div class="edit-folder-form-modal">
    <div class="modal-content">
        <h2>Edit Folder</h2>
        <form id="edit-folder-form" action="/folders/<%= folder.id %>/edit" method="POST">
            <input id="edit-folder-input" type="text" name="foldername" placeholder="Folder Name" value="<%= folder.name %>" required>
            <div class="button-group">
                <button type="button" class="cancel-btn" onclick="document.querySelector('.edit-folder-form-modal').style.display='none'">Cancel</button>
                <button class="confirm-btn" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>