<div class="new-folder-form-modal">
    <div class="modal-content">
        <h2>Create New Folder</h2>
        <form action="/folders" method="POST">
            <input type="text" name="foldername" placeholder="Folder Name" required>
            <button type="submit">Create Folder</button>
        </form>
    </div>
</div>