<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>This is <%= user.username %> folders</h1>
            <a href="/logout">Logout</a>
        </div>
        <div class="main">
            <div class="folders">
                <% folders.forEach((folder) => { %>
                    <div class="folder">
                        <h2><a href="/folders/<%= folder.id %>"><%= folder.name %></a></h2>
                    </div>
                <% }); %>
            </div>
            <div class="create-folder">
                <h2>Create New Folder</h2>
                <form action="/folders" method="POST">
                    <input type="text" name="foldername" placeholder="Folder Name" required>
                    <button type="submit">Create Folder</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>