<div class="welcome-container">
  <div class="user-welcome">
    <p class="user-name"><%= user?.username %>'s Dashboard</p>
    <p class="welcome-text">Listed below are your files and folders.</p>
  </div>

    <%- include('./new-folder') %>
</div>
