<div class="welcome-container">
  <div class="user-welcome">
    <p class="user-name"><%= folder?.name %></p>
    <p class="welcome-text">Listed below are the files and folders in this directory.</p>
  </div>
    <%- include('./folder-actions') %>
</div>
