.folders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    padding-bottom: 30px;
}

.folder-link {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 8px;
    
    background-color: var(--darker-gray);
    padding: 12px 16px;
}