.new-folder-form-modal, .file-delete-modal, .folder-delete-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 22px;

  background: var(--bg-alt);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  min-width: 400px;
  max-width: 480px;
}

#new-folder-form, .file-delete-form, .folder-delete-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#new-folder-input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--dark-gray);
  border-radius: 24px;
  background-color: var(--bg);
  color: var(--gray);
  font-size: 0.9rem;
}

.file-delete-confirmation, .folder-delete-confirmation {
  color: var(--gray);
  font-size: 1rem;
  padding-bottom: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 0.9rem;
}

.confirm-btn,
.cancel-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirm-btn {
  background-color: var(--accent);
  color: var(--bg);
}

.cancel-btn {
  background-color: var(--darker-gray);
  color: rgb(156, 156, 156);
}

.confirm-btn:hover {
  filter: brightness(80%);
}

.cancel-btn:hover {
  filter: brightness(80%);
}

@media screen and (max-width: 480px) {
  .modal-content {
    background: var(--bg-alt);
    padding: 3rem 4rem;
    border-radius: 16px;
    text-align: center;
    max-width: 480px;
  }

  .modal-text {
    max-width: 200px;
  }
}
