.welcome-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;

    overflow: hidden;
}

.user-name{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 8px;

    overflow-wrap: anywhere;
}

.welcome-text {

    color: var(--gray);
}

@media screen and (max-width: 768px) {
    .welcome-container {
        grid-template-columns: 1fr;
    }
}